{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


     <!-- Book site view Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
          <br>
        <h2>SITE VIEW</h2>
        <p>Book Now</p>
      </div><!-- End Section Title -->


        <form action method="post" role="form" class="btn-warning">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="date" name="date" class="form-control" id="date" placeholder="Date" required>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="time" class="form-control" name="time" id="time" placeholder="Time" required>
                </div>

                <div class="col-lg-4 col-md-6">
                    <input type="location" class="form-control" name="location" id="people" placeholder="# location of the property" required="">
                </div>
            </div>

            <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
          </div>

          <div class="text-center mt-3">
            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">An email confrimation will be sent to you. Thank you!</div>
            <button type="submit" class="btn btn-success" >Book Now</button>

          </div>
        </form>

      </div>

    </section>



{% endblock %}