{% extends 'starter-page.html' %}
{% load static %}
{% block body%}
    <style>
    body{
        background-color: darkseagreen ;
    }
    </style>

    <br><br><br><br><br>
     <!----Show image--->
      <h2 class="text-center">More Properties</h2>

       <div class="container" >
          <div style="display: flex;
          justify-content:space-between;
          flex-wrap: wrap">
               {% for image in images %}
              <div class="col mb-2">
                  <img src="{{ image.image.url }}" alt="Uploaded Image" style="width: 300px;height:300px"> <br>
                  <p><strong>Title :</strong>{{ image.title }}</p>
                  <p><strong>Price :</strong>{{ image.price }}</p>
                  <p><strong>location :</strong>{{ image.location }}</p>

              </div>
           {% endfor %}
          </div>

       </div>



{% endblock %}